.navbar {
    display: flex;
    padding: 1em;
    justify-content: center;
    width: 100%;
}
.section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
}
.list{
    display: flex;
    list-style: none;
    color: rgba(0,0,0,0.5)
}
.list > *{
    margin: 0 1em
}
